      itemsScaleUp:           <f:format.raw value="{settings.itemsScaleUp}" />,
      slideSpeed:             <f:format.raw value="{settings.slideSpeed}" />,
      paginationSpeed:        <f:format.raw value="{settings.paginationSpeed}" />,
      rewindSpeed:            <f:format.raw value="{settings.rewindSpeed}" />,
      autoPlay:               <f:format.raw value="{settings.autoPlay}" />,
      stopOnHover:            <f:format.raw value="{settings.stopOnHover}" />,
      navigation:             <f:format.raw value="{settings.navigation}" />,
      navigationText:         <f:format.raw value="{settings.navigationText}" />,
      rewindNav:              <f:format.raw value="{settings.rewindNav}" />,
      scrollPerPage:          <f:format.raw value="{settings.scrollPerPage}" />,
      pagination:             <f:format.raw value="{settings.pagination}" />,
      paginationNumbers:      <f:format.raw value="{settings.paginationNumbers}" />,
      responsive:             <f:format.raw value="{settings.responsive}" />,
      responsiveRefreshRate:  <f:format.raw value="{settings.responsiveRefreshRate}" />,
      responsiveBaseWidth:    <f:format.raw value="{settings.responsiveBaseWidth}" />,
      baseClass:              <f:format.raw value="{settings.baseClass}" />,
      theme:                  <f:format.raw value="{settings.theme}" />,
      lazyLoad:               <f:format.raw value="{settings.lazyLoad}" />,
      lazyFollow:             <f:format.raw value="{settings.lazyFollow}" />,
      lazyEffect:             <f:format.raw value="{settings.lazyEffect}" />,
      autoHeight:             <f:format.raw value="{settings.autoHeight}" />,
      dragBeforeAnimFinish:   <f:format.raw value="{settings.dragBeforeAnimFinish}" />,
      mouseDrag:              <f:format.raw value="{settings.mouseDrag}" />,
      touchDrag:              <f:format.raw value="{settings.touchDrag}" />,
      addClassActive:         <f:format.raw value="{settings.addClassActive}" />,