{namespace owl=Comsolit\OwlSlider\ViewHelpers}

<div id="{f:if(condition:'{settings.slider_id}',then:'owlslider_{settings.slider_id}',else:'owlslider')}" class="owl-carousel owl-theme">
  <f:for each="{items}" as="item">
    <div class="item">
      <f:if condition="{item.itemimage}">
        <f:if condition="{item.itemlink}">
          <f:then>
            <f:format.raw>
              <owl:typolink parameter="{item.itemlink}">
                <f:image class="lazyOwl" src="uploads/tx_owlslider/{item.itemimage}" height="{settings.slideHeight}" alt="{item.itemname}"/>
              </owl:typolink>
            </f:format.raw>
          </f:then>
          <f:else>
            <f:image class="lazyOwl" src="uploads/tx_owlslider/{item.itemimage}" height="{settings.slideHeight}" alt="{item.itemname}"/>
          </f:else>
        </f:if>
      </f:if>
      <f:if condition="{item.itemcontent}">
        <div>
          <f:format.html>{item.itemcontent}</f:format.html>
        </div>
      </f:if>
    </div>
  </f:for>
</div>

<f:if condition="{settings.customNavigation}">
  <f:render partial="SliderNavigation" />
</f:if>

<owl:addJsFooterInlineCode name="owlslider_{settings.slider_id}">
  jQuery(document).ready(function() {
    var sliderId = '{settings.slider_id}';
    var slider = jQuery(sliderId ? '#owlslider_' + sliderId : '#owlslider');

    slider.owlCarousel({
      items:                  <f:format.raw value="{settings.items}" />,
      itemsDesktop:           <f:format.raw value="{settings.itemsDesktop}" />,
      itemsDesktopSmall:      <f:format.raw value="{settings.itemsDesktopSmall}" />,
      itemsTablet:            <f:format.raw value="{settings.itemsTablet}" />,
      itemsTabletSmall:       <f:format.raw value="{settings.itemsTabletSmall}" />,
      itemsMobile:            <f:format.raw value="{settings.itemsMobile}" />,
      itemsCustom:            <f:format.raw value="{settings.itemsCustom}" />,
      singleItem:             <f:format.raw value="{settings.singleItem}" />,
      <f:render partial="owlCarouselObjectPart" arguments="{settings}"/>
      transitionStyle:        <f:format.raw value="{settings.transitionStyle}" />,
      beforeInit:             <f:format.raw value="{settings.random}" /> ? random(slider) : ''
    });
  
    // Custom Navigation
    jQuery(sliderId ? '.customNavigation_' + sliderId +' .next' : '.customNavigation .next')
      .click(function() {
        slider.trigger('owl.next');
      });

    jQuery(sliderId ? '.customNavigation_'+ sliderId +' .prev' : '.customNavigation .prev')
      .click(function() {
        slider.trigger('owl.prev');
      });

    //Sort random function
    function random(owlSelector){
      owlSelector.children().sort(function(){
          return Math.round(Math.random()) - 0.5;
        }).each(function(){
          $(this).appendTo(owlSelector);
      });
    }
  });
</owl:addJsFooterInlineCode>
