{namespace owl=TYPO3\OwlSlider\ViewHelpers}

<div id="{f:if(condition:'{settings.slider_id}',then:'owlslider_{settings.slider_id}',else:'owlslider')}" class="owl-carousel owl-theme">
  <f:for each="{items}" as="item">
    <div class="item">
      <f:if condition="{item.itemimage}">
        <f:if condition="{item.itemlink}">
          <f:then>
            <owl:typolink parameter="{item.itemlink}">
              <f:image class="lazyOwl" src="uploads/tx_owlslider/{item.itemimage}" height="{settings.slideHeight}" alt="{item.itemname}" />
            </owl:typolink>
          </f:then>
          <f:else>
            <f:image class="lazyOwl" src="uploads/tx_owlslider/{item.itemimage}" height="{settings.slideHeight}" alt="{item.itemname}" />
          </f:else>
        </f:if>
      </f:if>
      <f:if condition="{item.itemcontent}">
        <div><f:format.html>{item.itemcontent}</f:format.html></div>
      </f:if>
    </div>
  </f:for>
</div>

<f:if condition="{settings.customNavigation}">
  <f:render partial="SliderNavigation" />
</f:if>

<owl:addJsFooterInlineCode name="owlslider_{settings.slider_id}">
  jQuery(document).ready(function() {
    var slider = jQuery('{settings.slider_id}' ? '#owlslider_{settings.slider_id}' : '#owlslider');
    slider.owlCarousel({
      items:                  <f:format.raw value="{settings.items}" />,
      itemsDesktop:           <f:format.raw value="{settings.itemsDesktop}" />,
      itemsDesktopSmall:      <f:format.raw value="{settings.itemsDesktopSmall}" />,
      itemsTablet:            <f:format.raw value="{settings.itemsTablet}" />,
      itemsTabletSmall:       <f:format.raw value="{settings.itemsTabletSmall}" />,
      itemsMobile:            <f:format.raw value="{settings.itemsMobile}" />,
      itemsCustom:            <f:format.raw value="{settings.itemsCustom}" />,
      singleItem:             <f:format.raw value="{settings.singleItem}" />,
      itemsScaleUp:           <f:format.raw value="{settings.itemsScaleUp}" />,
      slideSpeed:             <f:format.raw value="{settings.slideSpeed}" />,
      paginationSpeed:        <f:format.raw value="{settings.paginationSpeed}" />,
      rewindSpeed:            <f:format.raw value="{settings.rewindSpeed}" />,
      autoPlay:               <f:format.raw value="{settings.autoPlay}" />,
      stopOnHover:            <f:format.raw value="{settings.stopOnHover}" />,
      navigation:             <f:format.raw value="{settings.navigation}" />,
      navigationText:         <f:format.raw value="{settings.navigationText}" />,
      rewindNav:              <f:format.raw value="{settings.rewindNav}" />,
      scrollPerPage:          <f:format.raw value="{settings.scrollPerPage}" />,
      pagination:             <f:format.raw value="{settings.pagination}" />,
      paginationNumbers:      <f:format.raw value="{settings.paginationNumbers}" />,
      responsive:             <f:format.raw value="{settings.responsive}" />,
      responsiveRefreshRate:  <f:format.raw value="{settings.responsiveRefreshRate}" />,
      responsiveBaseWidth:    <f:format.raw value="{settings.responsiveBaseWidth}" />,
      baseClass:              <f:format.raw value="{settings.baseClass}" />,
      theme:                  <f:format.raw value="{settings.theme}" />,
      lazyLoad:               <f:format.raw value="{settings.lazyLoad}" />,
      lazyFollow:             <f:format.raw value="{settings.lazyFollow}" />,
      lazyEffect:             <f:format.raw value="{settings.lazyEffect}" />,
      autoHeight:             <f:format.raw value="{settings.autoHeight}" />,
      dragBeforeAnimFinish:   <f:format.raw value="{settings.dragBeforeAnimFinish}" />,
      mouseDrag:              <f:format.raw value="{settings.mouseDrag}" />,
      touchDrag:              <f:format.raw value="{settings.touchDrag}" />,
      addClassActive:         <f:format.raw value="{settings.addClassActive}" />,
      transitionStyle:        <f:format.raw value="{settings.transitionStyle}" />,
    });

    // Custom Navigation
    jQuery('{settings.slider_id}' ? '.customNavigation_{settings.slider_id} .next' : '.customNavigation .next')
      .click(function() {
        slider.trigger('owl.next');
      });
    jQuery('{settings.slider_id}' ? '.customNavigation_{settings.slider_id} .prev' : '.customNavigation .prev')
      .click(function() {
        slider.trigger('owl.prev');
      });
  });
</owl:addJsFooterInlineCode>
